@import "base/font";
@import "base/var";
@import "base/global";
@import "base/util";
@import "animation/rotate";

// ///////////////////////////////////////// block
@import "block/container";
@import "block/title-box";
@import "block/title/title";
@import "block/title/title-2";
@import "block/subtitle";
@import "block/button/wrap-btn";
@import "block/button/btn";
@import "block/icon-close";
@import "block/link/link";
@import "block/list/list";
@import "block/list/list-2";
@import "block/form/input";
@import "block/header/header";
@import "block/logo";
@import "block/main-nav";
@import "block/arrow-dropdown";
@import "block/sub-nav";
@import "block/form/main-search";
@import "block/main-m-nav";
@import "block/sub-m-nav";
@import "block/user-menu";
@import "block/agitation";
@import "block/form/search";
@import "block/s";
@import "block/tab";
@import "block/who-choose";
@import "block/testsimbox";
@import "block/slider/slider";
@import "block/costumer";
@import "block/star";
@import "block/breadcrum";
@import "block/box-style";
@import "block/pop-exams";
@import "block/all-vendors-s";
@import "block/exam-slide";
@import "block/free-demo";
@import "block/choose-exam";
@import "block/all-vendors";
@import "block/testimonials";
@import "block/guarantee";
@import "block/content-text";
@import "block/certific-list";
@import "block/cert-exam";
@import "block/box-exam-downl";
@import "block/exam";
@import "block/inst-downl";
@import "block/take-simulator";
@import "block/faq";
@import "block/page-404";
@import "block/form/form";
@import "block/form/form-group";
@import "block/form/form-label";
@import "block/form/form-control";
@import "block/form/select-wrap";
@import "block/form/box-checkbox-link";
@import "block/form/box-checkbox";
@import "block/form/password-wrap";
@import "block/register";
@import "block/forgot";
@import "block/forgot-note";
@import "block/partnership";
@import "block/form/security-code";
@import "block/cart";
@import "block/billing-info";
@import "block/form/expiration-date";
@import "block/form/cvv-code";
@import "block/screen-full";
@import "block/table/table";
@import "block/table/table-cart";
@import "block/form/form-group-btn";
@import "block/user-account";
@import "block/user-settings";
@import "block/table/table-user-invoice";
@import "block/table/table-user-products";
@import "block/modal/mod-discount";
@import "block/form/use-code";
@import "block/search-result";
@import "block/sitemap";
@import "block/test-prod";
@import "block/prod-test";
@import "block/course-text";
@import "block/st-tests";
@import "block/exam-canc";
@import "block/exam-training";
@import "block/demodownload";

@import "block/modal/mod-downl-dem";
@import "block/modal/mod-guarant";
@import "block/modal/mod-need-help";
@import "block/modal/mod-what-is-this";
@import "block/modal/mod-simulator-tour";

@import "block/footer/footer";
@import "block/modal/modal";
@import "block/up";

// ///////////////////////////////////////// display
@import "base/display";


// ////////// anchor for debug
.anchor {
	color: red;

	background-color: yellow;

	&._hidden {
		display: none;
	}
}

// validator.js
.error_message {
	color: red;
}

#jsErr {
	table {
		width: 100%;
	}
}
