@import "base/font";
@import "base/var";
@import "base/global";
@import "base/util";
@import "animation/rotate";

// ///////////////////////////////////////// block
@import "block/container";
@import "block/title-box";
@import "block/title/title";
@import "block/title/title-2";
@import "block/subtitle";
@import "block/button/wrap-btn";
@import "block/button/btn";
@import "block/icon-close";
@import "block/link/link";
@import "block/list/list";
@import "block/form/input";
@import "block/header/header";
@import "block/logo";
@import "block/main-nav";
@import "block/arrow-dropdown";
@import "block/sub-nav";
@import "block/form/main-search";
@import "block/main-m-nav";
@import "block/sub-m-nav";
@import "block/user-menu";
@import "block/agitation";
@import "block/form/search";
@import "block/s";
@import "block/tab";
@import "block/who-choose";
@import "block/slider/slider";
@import "block/costumer";
@import "block/star";
@import "block/breadcrum";
@import "block/box-style";
@import "block/exam-slide";
@import "block/all-vendors";
@import "block/testimonials";
@import "block/button/btn-box";
@import "block/guarantee";
@import "block/content-text";
@import "block/certific-list";
@import "block/cert-exam";
@import "block/box-exam-downl";
@import "block/exam";
@import "block/inst-downl";
@import "block/take-simulator";
@import "block/faq-list";
@import "block/page-404";
@import "block/form/form";
@import "block/form/form-group";
@import "block/form/form-label";
@import "block/form/form-control";
@import "block/form/select-wrap";
@import "block/form/box-checkbox-link";
@import "block/form/box-checkbox";
@import "block/form/password-wrap";
@import "block/forgot";
@import "block/forgot-note";
@import "block/partnership";
@import "block/form/security-code";
@import "block/cart";
@import "block/billing-info";
@import "block/form/expiration-date";
@import "block/form/cvv-code";
@import "block/screen-full";
@import "block/table/table";
@import "block/table/table-cart";
@import "block/form/form-group-btn";

@import "block/footer/footer";
@import "block/modal/modal";

// ///////////////////////////////////////// ather
button:hover,
a:hover {
	cursor: url(../img/cursor.png) 8 0, pointer;
}

// ///////////////////////////////////////// display
@import "base/display";
