.header {
	background-color: #1d262d;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 88px;
		padding-top: 6px;
		padding-bottom: 6px;

		@media (max-width: $sm) {
			height: 57px;
		}
	}

	&__logo {
		margin-right: 30px;

		@media (max-width: 1350px) {
			margin-right: 15px;
			margin-left: 15px;
		}

		@media (max-width: $sm) {
			max-width: 115px;
		}
	}

	&__main-nav {
		padding-right: 124px/1862px * 100%;

		@media (max-width: 1660px) {
			padding-right: 30px;
		}

		@media (max-width: 1350px) {
			display: none;
		}
	}

	&__user-menu {
		@media (max-width: 1350px) {
			display: none;
		}
	}

	&__icon {
		width: 20px;
		height: 20px;

		fill: #fff;
	}

	&__box-m-btn {
		display: none;

		@media (max-width: 1350px) {
			display: flex;
		}
	}

	&__m-btn {
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	&__search {
		position: absolute;
		top: 100%;
		right: 10%;
		z-index: 500;

		display: none;

		@media (max-width: 1350px) {
			top: 0;
			left: 0;
		}
	}

	&__main-m-nav {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;

		display: none;

		transform: translateX(-3000px);

		transition: .3s;

		@media (max-width: 1350px) {
			display: block;
		}

		&._open {
			transform: translateX(0);
		}
	}
}
