.slider {
	margin: 0 -10px;

	&._m-sm-4 {
		@media (max-width: $sm) {
			margin-right: -4px;
			margin-left: -4px;
		}
	}

	&._pt_1 {
		padding-top: 10px;

		@media (max-width: $sm) {
			margin-top: -5px;
			padding-top: 0;
		}
	}

	&._pt_2 {
		// padding-top: 20px;

		// @media (max-width: $sm) {
		// 	margin-top: -5px;
		// 	padding-top: 0;
		// }
	}

	&__item {
		padding: 10px;

		&._mw_487 {
			max-width: 487px;

			@media (max-width: $sm) {
				width: 100%;
				max-width: 550px;
			}
		}

		&._p-sm-4 {
			@media (max-width: $sm) {
				padding-right: 4px;
				padding-left: 4px;
			}
		}
	}

	.slick-list {
		height: 100%;
		padding-bottom: 21px;

		@media (max-width: $sm) {
			padding-bottom: 15px;
		}
	}

	.slick-track {
		display: flex !important;
	}

	.slick-slide {
		height: inherit !important;
	}

	.slick-dots {
		@extend .list-reset;

		display: flex;
		justify-content: center;
		li {
			padding: 0 8px;
		}

		button {
			display: block;
			width: 12px;
			height: 12px;
			padding: 0;

			font-size: 1px;
			color: transparent;

			background: #f2f2f3;
			border: none;
			border-radius: 50%;

			transition: .3s;
			&:hover {
				background-color: #d0e3fb;
			}
		}
		.slick-active button {
			background-color: #1273eb;
		}
	}
}
