.agitation {
	width: 100%;
	// height: 509px;
	&__slider {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
	}

	.slick-list,
	.slick-track {
		height: 100%;
	}

	&__slider-item {
		width: 100%;
		&._1 {
			background: url(../img/agitation-slider/1.jpg) center center no-repeat;
			background-size: cover;
			@media (max-width: $sm) {
				background-image: url(../img/agitation-slider/1m.jpg);
			}
		}
		&._2 {
			background: url(../img/agitation-slider/2.jpg) center center no-repeat;
			background-size: cover;
			@media (max-width: $sm) {
				background-image: url(../img/agitation-slider/2m.jpg);
			}
		}
		&._3 {
			background: url(../img/agitation-slider/3.jpg) center center no-repeat;
			background-size: cover;
			@media (max-width: $sm) {
				background-image: url(../img/agitation-slider/3m.jpg);
			}
		}
		&._4 {
			background: url(../img/agitation-slider/4.jpg) center center no-repeat;
			background-size: cover;
			@media (max-width: $sm) {
				background-image: url(../img/agitation-slider/4m.jpg);
			}
		}
		&._5 {
			background: url(../img/agitation-slider/5.jpg) center center no-repeat;
			background-size: cover;
			@media (max-width: $sm) {
				background-image: url(../img/agitation-slider/5m.jpg);
			}
		}
		&._6 {
			background: url(../img/agitation-slider/6.jpg) center center no-repeat;
			background-size: cover;
			@media (max-width: $sm) {
				background-image: url(../img/agitation-slider/6m.jpg);
			}
		}
		&._7 {
			background: url(../img/agitation-slider/7.jpg) center center no-repeat;
			background-size: cover;
			@media (max-width: $sm) {
				background-image: url(../img/agitation-slider/7m.jpg);
			}
		}
		&._8 {
			background: url(../img/agitation-slider/8.jpg) center center no-repeat;
			background-size: cover;
			@media (max-width: $sm) {
				background-image: url(../img/agitation-slider/8m.jpg);
			}
		}
		&._9 {
			background: url(../img/agitation-slider/9.jpg) center center no-repeat;
			background-size: cover;
			@media (max-width: $sm) {
				background-image: url(../img/agitation-slider/9m.jpg);
			}
		}
		&._10 {
			background: url(../img/agitation-slider/10.jpg) center center no-repeat;
			background-size: cover;
			@media (max-width: $sm) {
				background-image: url(../img/agitation-slider/10m.jpg);
			}
		}
		&._11 {
			background: url(../img/agitation-slider/11.jpg) center center no-repeat;
			background-size: cover;
			@media (max-width: $sm) {
				background-image: url(../img/agitation-slider/11m.jpg);
			}
		}
		&._12 {
			background: url(../img/agitation-slider/12.jpg) center center no-repeat;
			background-size: cover;
			@media (max-width: $sm) {
				background-image: url(../img/agitation-slider/12m.jpg);
			}
		}
		&._13 {
			background: url(../img/agitation-slider/13.jpg) center center no-repeat;
			background-size: cover;
			@media (max-width: $sm) {
				background-image: url(../img/agitation-slider/13m.jpg);
			}
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 72px;
		padding-bottom: 72px;

		text-align: center;

		@media (max-width: $sm) {
			padding-top: 25px;
			padding-bottom: 44px;
		}
	}

	&__title {
		width: 100%;
		margin-bottom: 42px;

		font-size: 52px;
		line-height: 1.3;
		color: #fff;
		font-style: 400;

		@media (max-width: $sm) {
			margin-bottom: 13px;
			padding: 0 5px;

			font-size: 24px;
		}
	}

	&__desc {
		width: 100%;
		margin-bottom: 48px;

		font-size: 28px;
		line-height: 1.4;
		color: #fff;

		@media (max-width: $sm) {
			margin-bottom: 21px;

			font-size: 18px;
		}
	}

	&__search {
		width: 100%;
		max-width: 730px;
		margin-bottom: 44px;

		@media (max-width: $sm) {
			margin-bottom: 25px;
		}
	}

	&__box-btn {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	&__btn {
		flex-shrink: 0;
		min-width: 200px;

		@media (max-width: $sm) {
			min-width: calc(50% - 4px);
		}

		&:not(:last-child) {
			margin-right: 30px;

			@media (max-width: $sm) {
				margin-right: 8px;
			}
		}
	}
}
