.billing-info {
	&__container {
		padding-top: 40px;
		padding-bottom: 10px;

		@media (max-width: $sm) {
			padding-top: 30px;
			padding-bottom: 5px;
		}

		&._last {
			padding-bottom: 44px;

			@media(max-width: $sm) {
				padding-top: 22px;
			}
		}
	}

	&__title {
		margin-bottom: 30px;

		@media (max-width: $sm) {
			margin-bottom: 25px;
		}
	}

	&__btn {
		width: 260px;

		@media (max-width: $sm) {
			width: 100%;
		}
	}
}
