.certific-list {
	@extend .list-reset;

	max-width: 1230px;
	margin: 0 auto;

	column-count: 2;
	column-gap: 100px;

	@media (max-width: $xl) {
		column-gap: 30px;
	}

	@media (max-width: $md) {
		column-count: 1;
	}

	.link {
		vertical-align: inherit;
	}

	&__item {
		margin-bottom: 8px;

		font-size: 18px;
	}
}
