.container {
	position: relative;

	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	padding-right: 30px;
	padding-left: 30px;

	@media (max-width: $xl) {
		padding-right: 15px;
		padding-left: 15px;
	}

	&._wide {
		max-width: 1862px;
		padding-right: 15px;
		padding-left: 15px;
	}

	&._who-chooses {
		max-width: 1200px;
		padding-top: 44px;
		padding-bottom: 32px;

		@media (max-width: $sm) {
			padding-top: 30px;
			padding-bottom: 25px;
		}
	}

	&._testimonials {
		padding-top: 53px;
		padding-bottom: 63px;

		@media (max-width: $sm) {
			padding-top: 30px;
			padding-bottom: 44px;
		}
	}

	&._guarantee {
		padding-top: 30px;
		padding-bottom: 30px;

		@media (max-width: $sm) {
			padding-bottom: 22px;
		}
	}

	&._content-text {
		padding-top: 15px;
		padding-bottom: 52px;

		@media (max-width: $sm) {
		}
	}

	&._free-demo {
		padding-top: 44px;
	}

	&._choose-exam {
		padding-top: 36px;
		padding-bottom: 24px;
	}

	&._pt_1 {
		padding-top: 15px;
	}

	&._pt_3 {
		padding-top: 35px;
	}

	&._pb_3 {
		padding-bottom: 30px;

		@media (max-width: $sm) {
			padding-bottom: 15px;
		}
	}

	&._pb_6 {
		padding-bottom: 60px;

		@media (max-width: $sm) {
			padding-bottom: 40px;
		}
	}
}
