.exam {
	display: flex;

	&._fd_column {
		flex-direction: column;
	}

	&__inner {
		display: flex;
		justify-content: center;

		@media (max-width: $sm) {
			margin-bottom: -15px;
		}
	}

	&__box-img-btn {
		flex-shrink: 0;
		width: 212px;
		margin-right: 60px;

		@media (max-width: $xl) {
			margin-right: 30px;
		}

		@media (max-width: $md) {
			margin-right: 0;
		}

		@media (max-width: $sm) {
			width: 112px;
			margin-right: 20px;
		}
	}

	&__img {
	}

	&__btn-downl {
		width: 100%;

		font-size: 16px;
	}

	&__content {
		font-size: 18px;
		@media (max-width: $sm) {
			font-size: 16px;
		}
	}

	&__title {
		margin-bottom: 16px;
	}

	&__p {
		margin-bottom: 10px;

		color: #6e6d7a;

		@media (max-width: $sm) {
			margin-bottom: 17px;

			font-size: 16px;
			line-height: 19px;
		}
	}

	&__list {
		padding-top: 12px;

		color: #6e6d7a;

		&._pt_lg {
			padding-top: 27px;
		}

		&._pb_lg {
			padding-bottom: 32px;

			@media (max-width: $sm) {
				padding-bottom: 20px;
			}
		}
	}
}
