.forgot {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 90vh;
	padding-top: 40px;
	padding-bottom: 40px;

	@media (max-width: $sm) {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	&__container {
		&:not(:last-child) {
			margin-bottom: 60px;

			@media (max-width: $sm) {
				margin-bottom: 40px;
			}
		}
	}
}
