.guarantee {
	display: flex;
	padding: 28px 48px 32px;

	font-size: 18px;
	line-height: 1.22;

	@media (max-width: $sm) {
		padding: 8px 16px 20px;

		font-size: 16px;
		line-height: 1.5;
	}

	&__img {
		flex-shrink: 0;
		align-self: flex-start;
		width: 87px;
		margin-right: 32px;
		@media (max-width: $sm) {
			width: 65px;
			margin-right: 14px;
			margin-left: 14px;
		}
	}

	&__text {
		color: #6e6d7a;
	}

	&__box-img-title {
		margin-bottom: 20px;
		@media (max-width: $md) {
			display: flex;
			align-items: center;
			margin-bottom: 8px;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 24px;
		color: #0d0c22;

		@media (max-width: $sm) {
			font-weight: 700;
			font-size: 16px;
		}
	}

	&__p {
		margin-bottom: 30px;
		@media (max-width: $sm) {
			margin-bottom: 18px;
		}
	}

	&__list {
		max-width: 1100px;

		column-count: 2;
		column-gap: 20px;

		@media (max-width: $sm) {
			column-count: 1;
		}
	}
}
