.s {
	position: relative;

	&._gray {
		background-color: #f4f4f4;
	}

	&._lite-gray {
		background-color: #f9f9f9;
	}

	&._mb_lg {
		padding-bottom: 40px;

		@media (max-width: $sm) {
			padding-bottom: 20px;
		}
	}
}
