.subtitle {
	max-width: 755px;
	margin-right: auto;
	margin-left: auto;

	font-size: 18px;
	text-align: center;

	@media (max-width: $sm) {
		font-size: 14px;
	}

	&._mb_xl {
		margin-bottom: 40px;

		@media (max-width: $sm) {
			margin-bottom: 20px;
		}
	}

	.link {
		vertical-align: baseline;
	}
}
