.testsimbox {
	padding-top: 53px;
	padding-bottom: 63px;

	@media (max-width: $sm) {
		padding-top: 30px;
		padding-bottom: 44px;
	}

	&._pt_sm {
		padding-top: 5px;

		@media (max-width: $sm) {
			padding-top: 0;
		}
	}

	&__subtitle {
		margin-bottom: 35px;
		@media (max-width: $sm) {
			margin-bottom: 12px;
		}
	}
}
