.box-checkbox-link {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 9px 0;

	@media (max-width: $sm) {
		flex-direction: column;
	}

	&__checkbox {
		@media (max-width: $sm) {
			padding-top: 7px;
		}
	}

	&__link {
		line-height: 19px;
		@media (max-width: $sm) {
			margin-bottom: 10px;
			padding-top: 30px;
		}
	}
}
