.main-search {
	background-color: #1d262d;
	border-radius: 0 0 10px 10px;

	@media (max-width: 1350px) {
		width: 100%;
		height: 100%;
	}

	&__inner {
		padding: 24px 20px 20px;

		@media (max-width: 1350px) {
			display: flex;
			width: 100%;
			height: 100%;
			padding: 0 15px;
		}
	}

	&__form {
		display: flex;
		align-items: center;

		& > *:not(:last-child) {
			margin-right: 20px;
		}

		@media (max-width: 1350px) {
			width: 100%;
			max-width: 600px;
			margin: 0 auto;
		}
	}

	&__btn-back {
		display: none;
		flex-shrink: 0;

		svg {
			width: 24px;
			height: 24px;

			fill: #fff;
		}

		@media (max-width: 1350px) {
			display: block;
		}
	}

	&__form-control {
		height: 42px;

		@media (max-width: $sm) {
			height: 30px !important;
			padding: 0 8px;
		}
	}

	&__btn-search {
		flex-shrink: 0;
	}
}
