.password-wrap {
	position: relative;
	&__form-control {
		padding-right: 60px;

		&:focus + &__btn {
			opacity: 1;
		}
	}

	&__btn {
		position: absolute;

// top: 50%;
		// right: 20px;
		top: 0;
		right: 0;

// transform: translateY(-50%);

		height: 100%;
		padding: 0 20px;

		opacity: .3;

		transition: .3;
		svg {
			width: 24px;
			height: 24px;

			fill: #1274eb;
		}

		&._active {
			opacity: 1;
		}
	}
}
