.link {
	display: inline-block;
	padding: 0;

	font-size: 18px;
	line-height: 1;
	vertical-align: top;
	color: #293741;
	text-decoration: none;

	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(41, 55, 65, .4);

	transition: .3s;

	&:hover {
		color: #1273eb;
		text-decoration: none;

		border-bottom-color: transparent;
	}

	&._va_inherit {
		vertical-align: inherit;
	}

	&._fw_600 {
		font-weight: 600;
	}

	&._fz_16 {
		font-size: 16px;
	}
}
