.list {
	@extend .list-reset;

	font-size: 18px;

	@media (max-width: $sm) {
		font-size: 16px;
	}

	&__item {
		position: relative;

		display: block;
		margin-bottom: 10px;
		padding-left: 13px;

		line-height: 1.22;

		&::before {
			content: "";
			position: absolute;
			top: 8px;
			left: 0;

			display: inline-block;
			width: 6px;
			height: 6px;

			background-color: #1273eb;
			border-radius: 50%;

			@media (max-width: $sm) {
				top: 6px;
			}
		}
	}
}
